<ion-header>
    <ion-toolbar>
            <ion-buttons slot="start">
                    <ion-back-button></ion-back-button>
                </ion-buttons>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <mat-form-field style="width:100%;">
        <input matInput placeholder="Email" type="email" id="email">
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput placeholder="Password" type="password" id="password">
    </mat-form-field>
    <br>
    <ion-button mat-raised-button style="width:100%;" color="primary" (click)='loginUser()'>Login</ion-button>
    <br>
    <br>
    <ion-button mat-button style="width:100%;" color="primary" routerLink="/register" routerDirection="forward">Register</ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <button mat-fab color="primary" (click)='addVisit()'>
            <ion-icon name="add" style="font-size:1.9em"></ion-icon>
        </button>
    </ion-fab>
    <ion-card *ngFor="let item of visits">
        <ion-card-header>
            <ion-card-title>{{item.Name}} of {{item.Age}} years</ion-card-title>
            <ion-card-subtitle>From: {{item.Address}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

            <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
                <ion-icon size="small" slot="icon-only" name="create"></ion-icon>

            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
                <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>

            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>