<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <mat-form-field style="width:100%;">
        <input matInput placeholder="Email" type="text">
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput placeholder="Password" type="password">
    </mat-form-field>
    <br>
    <button mat-raised-button style="width:100%;" color="primary">Login</button>
    <br>
    <br>
    <button mat-button style="width:100%;" color="primary">Register</button>
</ion-content>