<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>New Visit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <mat-form-field style="width:100%;">
        <mat-label>Select a Residance</mat-label>
        <mat-select [(value)]="residanceId">
            <mat-option *ngFor="let residance of residances" [value]="residance.id">
                {{residance.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <mat-label>Select a Store</mat-label>
        <mat-select [(value)]="storeId">
            <mat-option *ngFor="let store of stores" [value]="store.id">
                {{store.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ion-item style="width:100%;">
        <ion-label>Time</ion-label>
        <ion-datetime [(ngModel)]="timeOfVisit" display-format="HH:mm" picker-format="HH:mm"></ion-datetime>
    </ion-item>
    <br/>
    <br/>
    <button style="width:100%;" mat-raised-button color="primary" (click)="addVisit()">Mark Visit</button>
    <br/>
    <br/>

</ion-content>