<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <mat-form-field style="width:100%;">
        <input matInput id="email" disabled [(ngModel)]="sampleUser.email" placeholder="Email" type="text">
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput id="password" [(ngModel)]="password" placeholder="Password" type="password" required>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput [(ngModel)]="newPassword" placeholder="New Password" type="password">
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput [(ngModel)]="confirmNewPassword" placeholder="Confirm New Password" type="password">
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput id="fullName" disabled [(ngModel)]="sampleUser.fullName" placeholder="Full Name" type="text">
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="selectedValueCity">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city.id">
                {{city.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <mat-label>Residance</mat-label>
        <mat-select [(ngModel)]="selectedValueRes">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let residance of residances" (ngModelChange)="onChangeRes($event)" [value]="residance.id">
                {{residance.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br/>
    <br/>
    <button style="width:100%;" mat-raised-button color="primary" (click)="update()">Update</button>
    <br/>
    <br/>
</ion-content>