<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <mat-form-field style="width:100%;">
        <input matInput placeholder="Email" type="text">
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput placeholder="Password" type="password">
    </mat-form-field>
    <br>
    <ion-button mat-raised-button style="width:100%;" color="primary" href="/login">Login</ion-button>
    <br>
    <br>
    <button mat-button style="width:100%;" color="primary">Register</button>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <button mat-fab color="primary" (click)='addVisit()'>
            <ion-icon name="add" style="font-size:1.9em"></ion-icon>
        </button>
    </ion-fab>
</ion-content>