<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-button mat-raised-button style="width:100%;" color="primary" routerDirection="forward" routerLink="/login">Login</ion-button>


    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button>
            <ion-icon name="more" style="font-size:2.5em"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button color='secondary' routerLink="/profile" routerDirection="forward">
                <ion-icon name="person" style="font-size:1.9em"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color='success' routerLink="/chat" routerDirection="forward">
                <ion-icon name="chatbubbles" style="font-size:1.9em"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button color='tertiary' routerLink="/mark-visit" routerDirection="forward">
                <ion-icon name="add" style="font-size:1.9em"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>