<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="sampleUser">
    <mat-form-field style="width:100%;">
        <input matInput id="email" [(ngModel)]="sampleUser.email" placeholder="Email" type="email" required>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput id="password" [(ngModel)]="sampleUser.password" placeholder="Password" type="password" required>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput id="password2" [(ngModel)]="sampleUser.password2" placeholder="Confirm Password" type="password" required>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <input matInput id="fullName" [(ngModel)]="sampleUser.fullName" placeholder="Full Name" type="text" required>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="selectedValueCity">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city.id">
                {{city.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width:100%;">
        <mat-label>Residance</mat-label>
        <mat-select [(ngModel)]="selectedValueRes">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let residance of residances" [value]="residance.id">
                {{residance.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <ion-button mat-raised-button style="width:100%;" color="primary" (click)="registerNotification()">Register</ion-button>
    <br>
    <br>
</ion-content>